<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Enter Customer Information</title>
       <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Enter Customer Information</div>
       
     <!--  <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
          
         <table>
            <tr>
               <td>Name *</td>
               <td><input th:field="*{name}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>Email *</td>
               <td><input th:field="*{email}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>Phone *</td>
               <td><input th:field="*{phone}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>Address *</td>
               <td><input th:field="*{address}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="Submit" /> 
               <input type="reset" value="Reset" /></td>
            </tr>
         </table>
          
      </form> -->
       <div class="container">
			<form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
				<div class="form-group">
					<label for="name">User Name:</label> <input th:field="*{name}" type="text"
						class="form-control" id="name" placeholder="Enter name"
						name="userName">
					<span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
				</div>
				<div class="form-group">
					<label for="name">User email:</label> <input th:field="*{email}" type="text"
						class="form-control" id="email" placeholder="Enter email"
						name="userName">
					<span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
				</div>
				<div class="form-group">
					<label for="name">User phone:</label> <input th:field="*{phone}" type="text"
						class="form-control" id="phone" placeholder="Enter phone"
						name="phone">
					<span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
				</div>
				<div class="form-group">
					<label for="name">User address:</label> <input th:field="*{address}" type="text"
						class="form-control" id="address" placeholder="Enter address"
						name="address">
					<span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
				</div>
				<button type="submit" value="Login" class="btn btn-default">Submit</button>
				<button type="reset" value="Reset" class="btn btn-default">Reset</button>
			</form>
		</div>
      <!-- <th:block th:include="/_footer"></th:block> -->
       
   </body>
</html>